* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-aos] {
  visibility: hidden;
}
[data-aos].aos-animated {
  visibility: visible;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fffdfd;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

/* Khi cuộn xuống, header có nền */
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.4); /* Màu nền đen với độ trong suốt */
  border-bottom: 1px solid #514f4fbc;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
}
/* Đổi màu chữ trong header khi cuộn xuống */
.header.scrolled .header__menu ul li a {
  color: white !important;
}

/* Đổi màu icon tìm kiếm */
.header.scrolled li i {
  color: white;
}

.header .header__logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header .header__logo img {
  display: block;
  width: 320px;
}
.header .header__menu {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.header .header__menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 50px;
  font-size: 20px;
}
.header .header__menu ul li a {
  text-decoration: none;
  color: #333;
}
.header .header__menu ul li a:hover {
  border-bottom: 1px solid #212020;
}
.header__menu .icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* main */
/* About */
main .about {
  display: flex;
  width: 100%;
  height: 100vh;
}
.about .about-image {
  width: 54%;
}
.about .about-image img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.about .about-content {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: center;
}
.about-content .list-item {
  width: 154px;
  height: 57px;
}
.about-content .list-item ul {
  display: flex;
  gap: 23px;
  list-style: none;
}
.about-content .list-item ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #959292;
}
.about-content .list-item ul li a:hover {
  border-bottom: 1px solid #171717;
}
.about-content .holiday-list {
  margin-top: 8px;
  height: 80px;
  width: 320px;
}
.about-content .holiday-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 12px;
}
.about-content .holiday-list ul li {
  padding: 6px;
  background-color: #c7c1c14d;
}
.about-content .holiday-list ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.about-content .holiday-list ul li a:hover {
  color: #47b6c3;
}
.about-content .heading {
  text-align: center;
  font-size: 85px;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  color: #212020;
}
.about-content .desc {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #333;
  margin-top: 60px;
}

/* author */
.author {
  width: 100%;
  height: 100%;
}
.author .author__body {
  display: block;
  width: 100%;
  height: 100%;
  padding: 179px 320px;
}
.author .author__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.author .author__container img {
  display: block;
  width: 100px;
  height: 120px;
  border-radius: 50%;
}

.author .title {
  font-size: 40px;
  font-weight: 400;
  color: #393535;
  margin-bottom: 16px;
  text-align: justify;
}
.author .desc {
  line-height: 30px;
  font-size: 22px;
  font-weight: 300;
  color: #9b9a9a;
  text-align: justify;
}
.author__content .title {
  margin-bottom: 40px;
}

/* image */
.image__list {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 120px;
}
.image__list--item {
  width: 50%;
  height: 600px;
  overflow: hidden;
}
.image__list--item:nth-of-type(2) {
  width: 250%;
  height: 600px;
}
.image__list--item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* advertisement */
.advertisement {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 350px;
  margin-bottom: 120px;
}
.advertisement__title {
  display: block;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 600;
}
.advertisement__desc {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #585656;
  text-align: justify;
  margin-bottom: 60px;
  line-height: 30px;
}
.advertisement__desc span {
  display: block;
  padding-bottom: 20px;
}
.advertisement__img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.advertisement__img img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.advertisement__container {
  display: flex;
  gap: 120px;
  background-color: #cdcbcb9f;
  margin-bottom: 120px;
}
.advertisement__container--img {
  display: block;
  width: 400px;
  height: 100%;
}
.advertisement__container--img img {
  display: block;
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.advertisement__content {
  width: 600px;
  padding-top: 120px;
}
.advertisement__btn {
  display: block;
  width: 240px;
  height: 60px;
  background-color: transparent;
  color: #010101;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  border: 1px solid #070707;
}
.advertisement__btn:hover {
  background-color: #070707;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
section .heading {
  width: 100%;
  height: 100%;
  background-color: #cdcbcb9f;
}

/* event */
.advertisement__event {
  display: flex;
  gap: 240px;
  background-color: #cdcbcb9f;
  padding: 40px 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.advertisement__event .advertisement__title {
  display: block;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  color: #070606;
  line-height: 40px;
}
.advertisement__event .advertisement__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4f4949;
  margin-bottom: 10px;
}

/* footer */
.footer {
  padding: 96px 135px 0px;
  /* background: #43192a; */
  background: linear-gradient(180deg, #43192a 0%, #1f0d14 100%);
}
.footer .logo {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}
.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}
.footer .desc {
  margin-top: 18px;
  max-width: 320px;
  color: #bfbcb2;
  font-size: 1.2rem;
  line-height: 1.66;
}
.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
  font-size: 23px;
}
.footer .socials a {
  color: #bfbcb2;
}
.footer .socials a:hover {
  color: #2ab3d1;
}
.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.2rem;
  line-height: 1.86;
  padding-top: 10px;
}
.footer .list li:last-child a {
  margin-bottom: 0;
}
.footer .list strong {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.86;
}
.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  color: #bfbcb2;
  font-size: 1.2rem;
  line-height: 1.86;
  padding-bottom: 12px;
}
